#DbContainer,
#timedeltaContainer {
    border: solid $accent;
    border-title-align: left;
    height: auto;
}

#submitBtnGrp {
    layout: horizontal;
}

#submitBtnGrp Button {
    margin: 1;
}

GoalSetting {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 4fr 1fr;
    /* grid-rows: 1fr; */
    height: auto;
}

GoalEnable,
GoalEdit {
    border: solid $secondary;
    padding: 1;
    height: 100%;
}

GoalEdit Container {
    height: auto;
    layout: grid;
    grid-gutter: 1
}

GoalEdit Container * {
    width: 100%;
}