#DbContainer,
#timedeltaContainer {
    border: solid $accent;
    border-title-align: left;
    height: auto;
}

#submitBtnGrp {
    layout: horizontal;
}

#submitBtnGrp Button {
    margin: 1;
}

#goalSettingEnable {
    border: solid $secondary;
    height: auto;
    padding: 1;
}